{% extends "base.html" %}
{% load staticfiles %}

{% block tail_includes %}
    <script src="{% static "js/autobahn/autobahn.min.js" %}"></script>
    <script src="{% static "apps/search/js/search.js" %}"></script>
    <script src="{% static "apps/search/js/doT.min.js" %}"></script>
    <script src="{% static "apps/search/js/moment.min.js" %}"></script>
    <script>
        window.serverNames = {
        {% for server in servers %}
            {{ server.id }}:"{{ server.name }}",
        {% endfor %}
        }
    </script>

    {% verbatim %}
    <script type="text/template" id="log_template">
        <tr>
            <td>{{= moment(it.item._source.read_time).format("D/M/YY HH:mm:ss")}}</td>
            <td>{{= it.item._source.file_name }}@{{= it.getServerName(it.item._source.server_id) }}</td>
            <td>{{= it.item._source.message}}</td>
        </tr>
    </script>
    {% endverbatim %}
{% endblock %}

{% block content_override %}
    <div class="search_header_container">
        <div class="row" id="header_row">
            <div class="large-12 columns search_header_row">
                {% include "includes/search_bar.html" %}
            </div>
        </div>
    </div>

    <div class="search_content_container">
        <div class="row">
            <div class="medium-3 large-2 columns">
                <div class="search_sidebar show-for-medium-up">
                    <div class="panel">
                        <h5>This is a regular panel.</h5>
                        <p>Total: <span id="hits">0</span> results</p>
                        <p>Took: <span id="took"></span>ms</p>
                    </div>
                </div>
            </div>

            <div class="medium-9 large-10 columns">
                <table id="search_results" class="">

                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns" style="height: 30px">
            &nbsp;
        </div>
    </div>
{% endblock %}