{% extends "format_base.html" %}
{% load crispy_forms_tags %}


{% block format_content %}
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url "formats:edit" format.id %}">{{ format.name }}</a></li>
                <li><a href="{% url "formats:modify_field" format.id field.id %}">{{ field.name }}</a> </li>
                <li class="current">{{ transformation|yesno:"Modify Transformation,Add Transformation" }}</li>
            </ul>
        </div>
    </div>

     <div class="row">
        <div class="small-12 columns">
            {% crispy form %}
        </div>
     </div>
{% endblock %}