{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block tail_includes %}
    <script>
        $(document).ready(function(){
            $(".delete_link").click(function(){
                $(this).parent("form").submit();
            })
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            {% crispy form %}
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <table class="expand">
                <thead>
                    <th width="250">Name</th>
                    <th width="150">Files</th>
                    <th></th>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.name }}</td>
                        <td>
                            {% for file in obj.files.all %}
                                {{ file.name }}<br/>
                            {% endfor %}
                        </td>
                        <td class="actions_column">
                            <div class="row collapse">
                                <div class="large-12 columns">
                                    <form method="POST" action="{% url "formats:delete" obj.id %}">
                                        {% csrf_token %}
                                        <a href="#" class="delete_link"><i class="fi-x"></i> Delete</a>
                                    </form>

                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="large-12 columns">
                                    <a href="{% url "formats:edit" obj.id %}" class="graphs_link"><i class="fi-wrench"></i> Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}