<div class="row">
    <div class="medium-8 columns">
        <h3>{{ header_text }} {{ object.name }}</h3>
    </div>
    <div class="medium-4 columns">
        <div class="row">
            <div class="small-6 columns">
                <a href="#" id="live_button" class="tiny button radius alert">
                    <span class="fa fa-play"></span> <span class="live_text">Live</span></a>
            </div>
            <div class="small-6 columns">
                <a href="#" id="scroll_button" class="tiny button radius success">
                    <span class="fa fa-play"></span> Auto Scroll</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="tail_container">
            <div class="tail_inner">

            </div>
        </div>
    </div>
</div>