{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="small-8 columns">
            <table>
                <thead>
                    <tr>
                        <th width="150">Name</th>
                        <th width="150">IP</th>
                        <th width="100">Logfiles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td><a href="{% url "servers:view" server.id %}">{{ server.name }}</a></td>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.logfiles.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}