{% extends "base.html" %}
{% load activeurl %}

{% block sidebar %}
    <div class="sidebar">
    {% activeurl menu="no" %}
        <ul class="side-nav">
            <h5>{{ object.name }}</h5>
            <li><a href="{% url "servers:view" object.id %}">Server Details</a></li>
            <li><a href="{% url "servers:modify" object.id %}">Modify Server</a></li>
        </ul>
    {% endactiveurl %}

    {% activeurl menu="no" %}
        <ul class="side-nav">
            <li><a href="{% url "servers:suspend" object.id %}">{{ server.suspended|yesno:"Unsuspend,Suspend" }} Server</a></li>
            <li><a href="{% url "servers:delete" object.id %}">Delete Server</a></li>
        </ul>
    {% endactiveurl %}
    </div>
{% endblock %}