{% extends "servers_base.html" %}

{% block content %}
    <h3>Warning</h3>
    <form action="" method="post">
        {% csrf_token %}
        {% if not object.suspended %}
            <p>Suspending server <a href="{% url "servers:view" object.id %}">{{ object }}</a> will prevent any future
                connection attempts and preserve existing logs</p>
        {% else %}
            <p>Un-suspending server <a href="{% url "servers:view" object.id %}">{{ object }}</a> will allow connections
               and logs will be processed</p>
        {% endif %}
        <input type="submit" class="button small alert" value="Confirm" />
        <a class="button small success" href="{% url "servers:view" object.id %}">Cancel</a>
    </form>
{% endblock %}