.row { max-width: 90%; }

.main_content {
    padding-top: 32px;
}

.sidebar {
  background: #fafafa;
  padding: 32px 20px; }

.side-nav li {
    font-size: 16px;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.side-nav > li.server_container {
    font-size: 18px;
}

.sidebar .side-nav li:hover {
  color: #006887;
  background: rgba(0, 64, 84, 0.03);
}

.sidebar .side-nav li.active {
    background: rgba(0, 64, 84, 0.05);
}

.logentry {
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 12px;
    line-height: 14px;
    padding-left: 1.5em;
    position: relative;
}

.logentry .log_file {
    color: deepskyblue;
}

.logentry .log_date {
    color: gold;
}

.logentry .log_message {
    color: white;
}

.tail_inner {
    cursor: text;
}

.tail_container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    background-color: #000000;

    padding-top: 12px;
    padding-bottom: 12px;
}

.search_header_container {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.search_header_row {
    padding-top:32px;
}

.search_content_container {
    padding-top: 110px;
    z-index: -100;
}

.search_content_container .search_sidebar {
    position: fixed;
    width: inherit;
    padding-right: 40px;
}