.row { max-width: 90%; }

.main_content {
    padding-top: 32px;
}

.sidebar {
  background: #fafafa;
  padding: 32px 20px; }

.side-nav li {
    font-size: 16px;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.side-nav > li.server_container {
    font-size: 18px;
}

.sidebar .side-nav li:hover {
  color: #006887;
  background: rgba(0, 64, 84, 0.03);
}

.sidebar .side-nav li.active {
    background: rgba(0, 64, 84, 0.05);
}

.tail_inner {
    cursor: text;
}

.tail_container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    background-color: #000000;

    padding-top: 12px;
    padding-bottom: 12px;
}

