{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page_title %}Dashboard{% endblock %}


{% block tail_includes %}
<script src="{% static "js/d3.v3.min.js" %}"></script>
<script src="{% static "js/cubism.v1.js" %}"></script>
<script src="{% static "js/autobahn/autobahn.js" %}"></script>
<script src="{% static "apps/dashboard/js/jquery.sparkline.js" %}"></script>
<script src="{% static "apps/dashboard/js/dashboard.js" %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% include "includes/search_bar.html" %}
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <div class="panel">
            <h5>Live Stats</h5>
            <div class="row">
                <div class="small-4 columns">
                    Incoming messages
                </div>
                <div class="small-8 columns">
                    <span id="global_message_rates_graph"></span> <span id="global_message_rates_text">0</span> p/s
                </div>
            </div>

            <div class="row">
                <div class="small-4 columns">
                    Processed messages
                </div>
                <div class="small-8 columns">
                    <span id="processed_message_graph"></span> <span id="processed_message_text">0</span> p/s
                </div>
            </div>

            <div class="row">
                <div class="small-4 columns">
                    Events
                </div>
                <div class="small-8 columns">
                    <span id="event_rates_graph"></span> <span id="event_rates_text">0</span> p/s
                </div>
            </div>
        </div>
    </div>

    <div class="medium-4 columns end">
        <div class="panel">
            <h5>Message Statistics</h5>
            <p>
                Total messages: <strong>{{ stats.total_count|intcomma }}</strong><br/>
                Store Size: <strong>{{ stats.store_size|filesizeformat }}</strong><br/>
                Total Queries: <strong>{{ stats.total_queries|intcomma }}</strong><br/>
                Average Fetch Time: <strong>{{ stats.avg_fetch_time }}ms</strong><br/>
                <small>Updated <strong>{{ stats.time|naturaltime }}</strong></small>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div id="example1"></div>
    </div>
</div>
{% endblock %}